@font-face {
    font-family: Sounds-Good;
    src: 
        url('../fonts/sounds-good.ttf')
        format('truetype');
}

@font-face {
    font-family: Inter-Regular;
    src: 
        url('../fonts/inter-regular.ttf')
        format('truetype');  

}

@font-face {
    font-family: Falling-Sky-Extra-Bold;
    src: 
        url('../fonts/falling-sky-extra-bold.otf')
        format('opentype');
}

.pink-text {
    /* color: #d80b37; */
    color:#6fccc3;
}

.remove-hyperlink-underline {
    text-decoration: none;
    /* This removes the underline of the hyperlink */
}

.html-and-body {
    height: 100%;
    /* 
    In order for the webpage to take up 
    the full height of the screen, 
    the <html> element which takes up as much as 
    height as required as by-default, 
    has to be set at 100% height.

    After that, we have to set 100% height for
    <body> tag as well.
    */
    width: 100%;
}

body {
    width: 100%;
    margin: 0;

    background-image: url('../images/beach.jpg');
    /*
    NOTE that because we are inside the CSS folder, 
    we first have to go up a directory and then choose
    the images folder.
    */

    background-color: black;
    color: white;
}

header {
    height: 7.5%;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.name-in-header {
    /*Since its parent `header` has display: flex,
    flex context is enabled for this direct child*/

    flex: 1;

    text-align: center;
    
    font-family: Falling-Sky-Extra-Bold;
    font-size: 1.5em;
}

.nav-bar-container {
    /*Since its parent `header` has display: flex,
    flex context is enabled for this direct child*/
    
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /*This is for the nav-bar buttons.*/
}

.nav-bar-button {
    /*Since its parent `nav-bar-container`
    has display: flex, flex context is enabled for 
    this direct child so its behavior is changed 
    from inline (which is the default for <a> element) 
    to block/inline-block so that 
    its shape can be manipulated. */
    height: 100%;

    font-family: Falling-Sky-Extra-Bold;
    font-size: 1em;

    transition: 0.5s;
}

.nav-bar-button:hover {
    color: black;
} 

.introduction-and-portfolio-button-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
    padding-top: 10%;
    height: 82.5%;
    width: 25%;
    padding-left: 25%;   
}

.introduction-text {
    font-family: Sounds-Good;
    font-size: 2.5em;
    text-align: left;
}

.portfolio-button {
    /*Since its parent `introduction-and-portfolio-button-container`
    has display: flex, flex context is enabled for this direct child 
    so its behavior is changed from inline (which is the default of <a> 
    to block/inline-block so that its shape can be manipulated */

    font-family: Inter-Regular;
    font-weight: bolder;
    text-align: center;
    
    border-style: solid;
    /*This border-style property makes the border visible*/
    
    /* border-color: #d80b37; */
    border-color: #6fccc3;
    
    width: 60%;
    
    margin-bottom: 10%;  

    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    /*This is for the space inside the button*/

    transition: 0.5s;
    /*
    transition property allows us to change 
    property values smoothly, over a given duration.
    */
}

.portfolio-button:hover {
    background-color: white;
}